<!DOCTYPE html>
<html>
    <head>
        <!--Define title-->
        <title>City Search</title>
        
        <!--You can load all the css files here -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <!--HTML content goes here-->
         <input id="input" type="text"></input>
         <button id="button">Search</button>
         <div class="totalCount" id="totalCount"></div>
         <div class="loader"></div>
         <table class="table"></table>
        
        <!--You can load all the javascript files here-->
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
